

.table-remastered
{
    border: 1px solid #272729;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.4);
}

span
{
    margin: 3px;
    cursor: pointer;
}

.axisred line
{
    stroke: red;

}

.axis-label,.chart-title
{
    fill: #CDCDCD;
    font-size: 100%;
    
}

th
{
    white-space: nowrap;
}

.btn-d
{
    background-color:#272729;
    color: white;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

.btn-d:hover{
    color: white;
    background-color: #1E1E1E;
}
line.axis-ticks
{
    stroke:#343636;
    stroke-width:2;
    font-weight: bold;
}

text.axis-ticks{
    fill: #CDCDCD;
    font-size: 120%;
    font-family: 'Barlow', Tahoma, serif;

}

.tooltip
{
    pointer-events: none;
    text-align: center;
    width: 90px;
    padding: 5px;
    background-color: #121212;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
}


.navbar
{
    background-color: #272729;
}

.navbar-brand
{
    color: white;
}


.dropdown-menu
{
    overflow-y:scroll;
    max-height: 300px;
    border-top-right-radius: 0;
}




g[id*='axis'] path
{
    stroke : #343636;
    stroke-width:2;
}


.top-container,.bottom-container,.full-container
{
    background-color: #3E4040;
    box-shadow: 5px 5px 5px rgba(0,0,0,.075);
}

.top-container
{
    border-radius: 10px 10px 0 0;
}

.bottom-container
{
    border-radius: 0 0 10px 10px;
}


.full-container
{
    border-radius: 10px 10px 10px 10px;
}

.btn-github
{
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

body
{
    font-family: 'Barlow', Tahoma, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #272729
}

a
{
    cursor: pointer;
}


